<form name="article.form" ng-submit="article.submit()">
  <div class="row">
    <div class="u-full-width">
      <label>Title</label>
      <input class="u-full-width" type="text" placeholder="Title" ng-model="article.newArticle.title">
    </div>
    <div class="u-full-width">
      <label>URL</label>
      <input class="u-full-width" type="text" placeholder="http://example.com/article" ng-model="article.newArticle.linkUrl">
    </div>
    <div class="u-full-width">
      <label>Image URL</label>
      <input class="u-full-width" type="text" placeholder="http://example.com/img.png" ng-model="article.newArticle.imageUrl">
    </div>
  </div>

  <input class="button-primary" type="submit" value="Submit">
</form>
